# Install from PyPI
torch
torchvision
pytorch-lightning
transformers
omegaconf
tqdm
tensorboard
datasets
hf_transfer
webdataset

# Install from GitHub
git+https://github.com/JonaRuthardt/featureutils.git
